@model dynamic

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<div class="row" ng-controller="customerCtrl">


    <div class="col-sm-6">
        <button type="button" ng-click="item={}" class="btn btn-default">Create</button>
        <table class="table">
             <thead>
            <tr> <th>Surname</th> <th>Phone</th> <th>Address</th><th></th> </tr>
            </thead>
            <tbody> <tr ng-repeat="c in customers">
                <td >{{c.surname}}</td> <td>{{c.phone}}</td> <td>{{c.address.street}}<br/>{{c.address.postalCode}} {{c.address.city}}</td>
                <td>
                    <a ng-click="edit(c)" title="Edit"><span class="glyphicon glyphicon-pencil" style="cursor: pointer"></span></a>
                    <a ng-click="remove(c)" title="Remove"><span class="glyphicon glyphicon-remove" style="color: red;cursor: pointer"></span></a>

                </td>
            </tr> </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <form class="form-horizontal" name="fm" novalidate ng-if="item">
            <div class="form-group" ng-class="{ 'has-error': fm.Surname.$touched && fm.Surname.$invalid }">
                <label for="inputEmail3" class="col-sm-2 control-label">Surname <span style="color:red">*</span></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="item.surname" name="Surname" required="" placeholder="Surname">
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': fm.Phonenumber.$touched && fm.Phonenumber.$invalid }">
                <label for="inputPassword3" class="col-sm-2 control-label">Phone number <span style="color:red">*</span></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"
                           pattern="^([0-9]{9})$"
                           ng-model="item.phone" name="Phonenumber" required placeholder="Phone number">
                    <p ng-show="fm.Phonenumber.$error.pattern"  class="help-block">Ex. format: 123456789</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error':fm.City.$touched && fm.City.$invalid }">
                <label for="inputPassword3" class="col-sm-2 control-label">City <span style="color:red">*</span></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="item.address.city" name="City"
                            required placeholder="City">
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error':fm.PostalCode.$touched && fm.PostalCode.$invalid }">
                <label for="inputPassword3" class="col-sm-2 control-label">Postal Code <span style="color:red">*</span></label>
                <div class="col-sm-10">
                    <input type="text" pattern="[0-9]{2}-[0-9]{3}"
                           class="form-control" ng-model="item.address.postalCode" name="PostalCode" required placeholder="Postal Code">
                    <p ng-show="fm.PostalCode.$error.pattern" class="help-block">Ex. format: 25-756</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': fm.street.$touched &&fm.street.$invalid }">
                <label for="inputPassword3" class="col-sm-2 control-label">Street <span style="color:red">*</span></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="street" ng-model="item.address.street" required placeholder="Street">
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" ng-if="!item.id" ng-click="add(item)"
                            ng-disabled="fm.$invalid"
                            class="btn btn-default">Add</button>
                    <button type="button" ng-if="item.id" ng-click="update(item)" class="btn btn-default">Update</button>
                    <button type="button" ng-if="item.id" ng-click="cancel(item)" class="btn btn-default">Cancel</button>

                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script>

        angular.module("customerApp", ['ngResource']);
        angular.module("customerApp").controller('customerCtrl', function($scope, $resource) {
            var repository = $resource('/api/customer/:id', { id: '@Html.Raw("@")id' }, {
                'update': { method: 'PUT' }
            });

            $scope.customers = repository.query();
            $scope.add = function (item) {

                repository.save(item).$promise.then(function() {
                    $scope.customers = repository.query();
                    $scope.item = null;


                });
            }
            $scope.remove = function(item) {
                repository.delete({ id: item.id }).$promise.then(function() {
                    $scope.customers = repository.query();
                });
            }
            $scope.update = function (item) {
                repository.update({ id: item.id },item).$promise.then(function () {
                    $scope.item = null;
                    $scope.customers = repository.query();

                });
            }
            $scope.edit = function (item) {
                $scope.item = item;
            }
            $scope.cancel = function(item) {
                $scope.item = null;
            }
        });
    </script>
}
